<div class="container">
    <h3>Your ToDo List</h3>
        {% if alltodo|length == 0 %}
          
            <div class="alert alert-light" role="alert">
              No ToDos Found. Add Your First ToDo!
            </div>

        {% else %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sno</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for todo in alltodo %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{todo.title}}</td>
              <td>{{todo.desc}}</td>
              <td>{{todo.date_created}}</td>
              <td><a href="/update/{{todo.sno}}" type="button" class="btn btn-warning btn-sm mx-1">Update</td>
              <td><a href="/delete/{{todo.sno}}" type="button" class="btn btn-danger btn-sm mx-1">Delete</td>
            </tr>
            </tbody>
          </table>
            {% endfor %}
        {% endif %}